body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #f0f0f0;
    background-color: #222;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    color: #333;
    background-color: #e5e5e5;
}

h1, h2, #subtitle, hgroup {
    font-family: Sono, Arial, sans-serif;
    color: #e29040;
}

body.light-mode h1,
body.light-mode h2,
body.light-mode #subtitle,
body.light-mode hgroup {
    color: #2c3e50;
}

#subtitle {
    color: #ee9545;
}

#copyright {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #ee9545;
}

a:visited {
    color: #ef2222;
    text-decoration: none;
}

pre {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 10px;
    overflow-x: auto;
}

/* Prism overrides for dark mode */
body:not(.light-mode) pre[class*="language-"],
body:not(.light-mode) code[class*="language-"] {
    background: #2d2d2d;
    color: #ccc;
}

/* Prism overrides for light mode */
body.light-mode pre[class*="language-"],
body.light-mode code[class*="language-"] {
    background: #2d2d2d;
    color: #ccc;
}

#darkModeToggle {
    background-color: #f0f0f0;
    color: #222;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode #darkModeToggle {
    background-color: #ee9545;
    color: #fff;
}
